<p>I’m going to put a lot of comprehension questions to make sure you’ve got these basics down, then you can write some code of your own.</p>

<p>If you want to cheat and run this code yourself, you can go to a site like JSFiddle that can run javascript for you, or:</p>

<p>make a file - example.html</p>

<p>put the content in it like this:</p>
<div class="code_block">
<%= "<html>" %>
<%= "<script>" %>
// Your code here
<%= "console.log(“hello world!”);" %>
<%= "</script>" %>
<%= "</html>" %>
</div>

<p>Open it in a browser. I prefer Google Chrome.</p>
<p>Right click -> Inspect</p>
<p>Click Console</p>
<p>There is the output of your javascript program!</p>