<!DOCTYPE html>
<html>
<head>
  <title>CodingCourse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
<div class="nav-wrapper">
<% if user_signed_in? %>
<ul id="nav-mobile" class="hide-on-med-and-down">
<li class="spacer">Coding Apprentices</li>
<li class="spacer">Logged in as <%= current_user.email %></li>
  <li class="spacer"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
  <li class="spacer"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
<% else %>
  <li class="spacer"><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
  <li class="spacer"><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
<% end %>
</ul>
</div>
</nav>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
